%li.js-label-list-item.gl-list-style-none.gl-py-3.gl-border-b.gl-last-of-type-border-b-0{ id: dom_id(self_hosted_model) }
  .gl-flex.gl-justify-content-space-between
    .gl-flex-grow.md:gl-flex.gl-flex-wrap.gl-px-3.gl-rounded-base.gl-gap-5
      .gl-flex-basis-quarter.gl-py-2
        = self_hosted_model.name
      .gl-flex-basis-quarter.gl-py-2
        = self_hosted_model.model.humanize
      .gl-flex-grow.gl-py-2
        = self_hosted_model.endpoint
      .gl-w-5.gl-py-2
        - if self_hosted_model.api_token?
          .has-tooltip{ title: _('An API key is set'), data: { testid: 'api-key-icon' } }
            = sprite_icon('key', css_class: 'gl-mr-2')
    %div
      .dropdown
        = render Pajamas::ButtonComponent.new(category: :tertiary,
          size: :small,
          icon: 'ellipsis_v',
          button_options: { class: 'js-label-options-dropdown gl-ml-3', 'aria_label': _('Self-hosted models dropdown'), title: _('Self-hosted models dropdown'), data: { toggle: 'dropdown' } })
        .dropdown-menu.dropdown-menu-right
          %ul
            %li
              = link_to edit_admin_ai_self_hosted_model_path(self_hosted_model) do
                = _('Edit')
            %li
              = link_to _('Destroy'), admin_ai_self_hosted_model_path(self_hosted_model),
                data: { confirm: _('Are you sure?'), 'confirm-btn-variant': 'danger' },
                method: :delete,
                variant: :danger,
                size: :small
